.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container strong {
    font-size: 16px;
    line-height: 22px;
}

.container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}
